csobPaygate:
	merchantId: 'A1029DTmM7'
	shopName: "www.kdyby.org"
	sandbox:
		privateKey:
			path: %vendorDir%/kdyby/csob-payment-gateway/examples/keys/rsa_A1029DTmM7.key
			password: ""
	returnMethod: GET
